body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url('img/seigaiha.png');
	font-size: 20px;
	text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

div
{
    border-radius:10px;
}

#container
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

#topbar
{
	background-color: #dddddd;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 250px;
    -webkit-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	-moz-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
}

#container1
{
	background-color: #dddddd;
	padding:20px;
	width:300px;
	margin-top:100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 200px;
	padding-right: 200px;
	-webkit-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	-moz-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
}

.sticky
{

	position: fixed;
	left: 100;
	top: 0;

}

#sidebar
{

	z-index: 100;
    float:left;
	width:200px;
	min-height:620px;
	padding-top:50px;
	background-color:#dddddd;
	text-align:center;
	font-size: 18px;
	color: #333333;
    -webkit-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	-moz-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
}

#container2
{
	float:right;
    width:790px;
    margin-left:10px;
	padding-left: 50px;
	padding-right: 50px;
    background-color: #dddddd;
    color: #333333;
	-webkit-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	-moz-box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
	box-shadow: 3px 3px 31px -3px rgba(48,48,48,1);
    font-size: 17px;
}

img
{
    border-radius:10px;
}

shadow
{
    position:relative;
}

.shadow:before
{
    content:'';
    position:absolute;
    width:952px;
    height:146px;
    -moz-box-shadow:inset 0px 0px 6px 6px rgba(221,221,221,1);
    -webkit-box-shadow:inset 0px 0px 6px 6px rgba(221,221,221,1);
    box-shadow:inset 0px 0px 6px 6px rgba(221,221,221,1);
}

.optionL
{
    z-index: 100;
    font-size:18px;
	height:53px;
	border-bottom:2px dotted #444444;
    border-radius:0px;
}



.optionL ul
{
    z-index: 100;
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
}


.optionL ul li
{
    position:relative;
}

.optionL ul li a, .optionL ul li span 
{
    display: block;
    /*position: relative; */
    /* background of menu items (default state) */
    background: #dddddd;
    color: #333333;
    padding: 14px 1px;
	width:200px;
    text-decoration: none;
    box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.5) inset; /*dodane*/
}

.optionL ul li a:link, .optionL ul li a:visited 
{
    color: #333333;
}

.optionL ul li:hover > a
{
    background-color: #333333;
    color: #dddddd;
    box-shadow: 0px 0px 31px -3px rgba(240,240,240,0.6) inset;
}

.optionL ul li ul {
    position: absolute;
    left: -5000px;
    top: 0;
    opacity: 0;
    width: 200px;
    visibility: hidden;
    -webkit-transition: opacity .3s, visibility 0s .3s, left 0s .3s;
    transition: opacity .3s, visibility 0s .3s, left 0s .3s;
}

.optionL ul li:hover > ul {
    visibility: visible;
    left: 100%;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

.optionL ul li ul li {
    display: list-item;
    float: none;
    box-shadow: 0px 0px 31px -3px rgba(0,0,0,0.5) inset; /*dodane*/
}

/*.optionL ul ul li:hover > ul 
{
    left: 100%;
}*/

.usernumber
{
    text-align:center;
	font-size:30px;
}

.logout
{
	text-align: right;
    position: fixed;
    right: 50px;
    top: 50px;
}



.flag
{
	width: 50px;
	height: 31px;
	border: 1px solid black;
	margin-right: 10px;
	margin-top: -20px;
}

.flag img
{
    margin-top:0px;
}

a
{
    text-decoration:none;
	color:#333333;
}

input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;	
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(191,191,191,1);
	-moz-box-shadow: 0px 0px 10px 2px rgba(191,191,191,1);
	box-shadow: 0px 0px 10px 2x rgba(191,191,191,1);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}


table
{
	width: 800px; !important;
	box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3) inset;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3);
	border-spacing:0px;
	margin-top: 20px;
    margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

td, th, tr
{
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3) inset;
	padding: 5px;
	border-collapse: collapse;
	text-align: right;
}

td
{
	width: 48px;
}

th
{
	text-align: center;
    padding-top:10px;
}

table.koszty
{
	width: 800px;
}

td.lewa
{
	text-align: left;
}

td.prawa
{
	text-align: right;
}

input[type=submit]
{
	width: 300px;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	background-color: #37b93d;

}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(191,191,191,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(191,191,191,1);
	box-shadow: 0px 0px 15px 5x rgba(191,191,191,1);
}

input::-webkit-input-placeholder
{
    color: #999;
}

input:focus::-webkit-input-placeholder
{
    color: #428C42;
}

/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}

input:focus:-moz-placeholder
{
    color: #428C42;
}

/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}

input:focus::-moz-placeholder
{
    color: #428C42;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}

input:focus:-ms-input-placeholder
{
    color: #428C42;
}
